<!-- This file contains the elements of the about page -->
{% extends "base.html" %}

{% block content %}
<h1 class="title">
    About
</h1>
<div class="hero" align="left">
<h1 id="project-3">Project 3</h1>
<p>by: Jon Basa</p>
<p>5/1/2019</p>
<h3 id="introduction">Introduction</h3>
<p>This is the source code for Project 3 for the course CS4850. It includes a client and server code that allows multiple clients to have an online conversation through the use of Flask-SocketIO&#39;s socket function.</p>
<h3 id="dependencies">Dependencies</h3>
<p>These packages are used for this project:</p>
<ul>
<li><p><a href="http://flask.pocoo.org/" title="Flask">Flask</a>
  : * provides the framework for the web application</p>
</li>
<li><p><a href="https://flask-login.readthedocs.io/en/latest/" title="Flask-Login">Flask-Login</a>
  : *  an extension that provides functions for user session management</p>
</li>
<li><p><a href="https://flask-sqlalchemy.palletsprojects.com/en/2.x/" title="Flask-SQLAlchemy">Flask-SQLAlchemy</a>
  : * an extension that provides database support</p>
</li>
<li><p><a href="https://cdnjs.com/libraries/bulma" title="bulma">bulma </a>
  : * the stylesheet used to style the web application</p>
</li>
</ul>
<h3 id="how-to-run">How to run</h3>
<p>The system running the server must have Python and pip installed. </p>
<p>Open a CLI and change to the project directory and run the pip command: pip install -r requirements.txt</p>
<p>Then, run the project with the Python command: python chat.py</p>
<p>Open a browser and go to localhost:15400 to access the application as a client.</p>
<h3 id="project-requirements">Project Requirements</h3>
<p>This section explains how each requirement is implemented in the code.</p>
<ul>
<li><p>port
  : The port is set implicitly when running the application.
  : Line 60 of chat.py: socketio.run(app, host=&#39;localhost&#39;, port=15400, use_reloader=False)
  : The sockets being created on the client side also connects to that port.    </p>
</li>
<li><p>login
  : Flask-SQLAlchemy is used to create a database, with the model created in chat.py that holds user credentials such as their username and password. When the login form is filled, a query is sent to check if the user exists and sends an error message should the server decline it. 
  : see: lines 10-35 of auth.py</p>
</li>
<li><p>newuser
  : The same database is used for creating new accounts. A form must be filled out by the user, and the server sends a query to check if the user already exists. The webpage returns an error message should a user attempt to create an account that already exists, or use a username or password that is too weak.
  : see: lines 37-61 of auth.py</p>
</li>
<li><p>send
  : A user is able to send a message with text input and is sent to the server to be broadcasted to all connected hosts.
  : see: lines 10-24 of chat.html</p>
</li>
<li><p>logout
  : A user must be logged in to have access to the logout function. logout_user() is called to log the user out of the chat room.
  : see: lines 63-68 of auth.py</p>
</li>
</ul>
<h3 id="issues">Issues</h3>
<p>This section explains some issues with the program and general to-dos</p>
<ul>
<li><p>number of clients
  : Currently, the number of users able to connect is handled by Flask-Login. Need to somehow be able to limit it to three connections to fit project requirements.</p>
</li>
<li><p>list of users
  : Need a section inside the chat room that lists all the current users online.</p>
</li>
<li><p>private messages
  : Need to implement a way to send a message to one user.
  : Possible solutions: creating a &quot;private&quot; space that does not broadcast to all users.</p>
</li>
<li><p>adjust flex boxes
  : The current layout between all the pages need to be unified as each page contains elements varying in size and color.
  : Possible solutions: create the containers inside base.html and only write inside blocks for the rest of the templates.</p>
</li>
<li><p>fix nav-bar
  : Current nav-bar does not display if the screen is small.</p>
</li>
<li><p>indicate user logout
  : Show a message on screen when a user signs out.</p>
</li>
</ul>
</div>
{% endblock %}